.tela{
    display: flex;
    flex-direction: row;
    height: calc(100% - 51.2px);
    margin-left: 28.8px;
    margin-top: 25.6px;
    margin-right: 28.8px;
    gap: 28px;
}

.ocorrencias{
    display: flex;
    flex-grow: 1;
    width: 60%;
    flex-direction: column;
    gap: 12px;
}

.ocorrencia{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    column-gap: 20px;
}

.grafico{
    height: 100%;
    border: 1px solid #011128;
    border-radius: 12px;
}

.historico{
    flex-grow: 1;
    width: 40%;
}

.cabeçalho{
    display: flex;
    font-size: 28px;
    font-weight: bold;  
}

.titulo{
    flex-grow: 1;
}

.icone_grande{
    margin-top: auto;
    margin-bottom: auto;
    width: 19.2px;
    height: 19.2px;
    margin-right: 9.6px;
}

.tabela{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
}

.tbl_header_row *{
    background-color: #4B6558;
    border-bottom: 1px solid #011128;
    border-right: 1px solid #011128;
    border-top: 1px solid #011128;
}

.tbl_header_row th:first-child{
    border-left: 1px solid #011128;
    border-top-left-radius: 9px;
}

.tbl_header_row th:last-child{  
    border-top-right-radius: 9px;
}

.tbl_row > *{
    border-bottom: 1px solid #011128;
    border-right: 1px solid #011128;
}

.tbl_row td:first-child{
    border-left: 1px solid #011128;
}

.tbl_row:last-child td:first-child{
    border-bottom-left-radius: 9px;
}

.tbl_row:last-child td:last-child{
    border-bottom-right-radius: 9px;
}

.grave{
    height: 9.6px;
    width: 9.6px;
    background-color: #E75B42;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4.8px;
}

.mediana{
    height: 9.6px;
    width: 9.6px;
    background-color: #F9B74B;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4.8px;
}

.leve{
    height: 9.6px;
    width: 9.6px;
    background-color: #3CAE49;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4.8px;
}