@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .bg-img {
    background-image: url("./assets/bg.png");
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: gray; /* verde para combinar com o tema */
    border-radius: 4px;
    transition: all 0.2s;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: gray;
    border-radius: 4px;
  }

  .custom-scrollbar {
    border-radius: 4px;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: gray #f1f1f1; /* Para Firefox */
  }

  /* Mantém os botões sempre visíveis */
  .custom-number-input {
    appearance: textfield; /* Remove estilo padrão */
    position: relative;
  }

  /* WebKit Browsers (Chrome, Safari, Edge) */
  /* Mantém os botões visíveis */
  /* Remove o estilo padrão do input */
  .custom-number-input::-webkit-inner-spin-button {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;

    /* ✅ Permite interação mesmo estando atrás */
    pointer-events: auto;

    width: 2rem;
    height: 2rem;
    margin-right: -0.3rem;

    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    cursor: pointer;
  }

  /* Faz os botões artificiais NÃO bloquearem a interação */
  .chevron-buttons {
    pointer-events: none;
  }
}
